<div class="box box-default image-box">
    <div class="box-header image-header">
        <div class="row">
            <div class="col-xs-1 text-center icon image-icon"><i class="fa fa-image fa-2x"></i></div>
            <div class="col-xs-8 title-text">
                <span >{{vm.post.title}}</span>
            </div>
            <div class="col-xs-3">
                    <span class="card-action pull-right">
                        <i class="fa fa-star-o fa-2x"></i>&nbsp;
                        <i class="fa fa-times fa-2x"></i>
                    </span>
            </div>
        </div>
    </div>
    <div class="box-body image-body">
        <div class="row">
            <div class="col-xs-11 image-wrapper">
                <img class="img-responsive center-block" src="vm.post.url" alt="Gareth Bale">
            </div>
        </div>
    </div>
</div>