<div class="box box-default link-box">
    <div class="box-header link-header">
        <div class="row">
            <div class="col-xs-1 text-center icon link-icon"><i class="fa   fa-external-link fa-2x"></i></div>
            <div class="col-xs-8 title-text">
                <span >{{vm.post.title}}</span>
            </div>
            <div class="col-xs-3">
                    <span class="card-action pull-right">
                        <i class="fa fa-star-o fa-2x"></i>&nbsp;
                        <i class="fa fa-times fa-2x"></i>
                    </span>
            </div>
        </div>
    </div>
    <div class="box-body link-body">
        <div class="row">
            <div class="col-md-4 text-center link-image link-wrapper">
                <img class="img-responsive center-block" src="http://media2.intoday.in/indiatoday/images/stories/launch-main_559_061416083533.jpg" alt="title">
            </div>
            <div class="col-md-7 link-description">
                <h4><b>Description</b></h4>
                <p class="description text-justify">
                    {{vm.post.description}}
                </p>
            </div>
        </div>
    </div>
</div>