<div class="box box-default slide-box">
    <div class="box-header slide-header">
        <div class="row">
            <div class="col-xs-1 text-center icon slide-icon"><i class="fa  fa-slideshare fa-2x"></i></div>
            <div class="col-xs-8 title-text">
                <span>{{vm.post.title}}</span>
            </div>
            <div class="col-xs-3">
                    <span class="card-action pull-right">
                        <i class="fa fa-star-o fa-2x"></i>&nbsp;
                        <i class="fa fa-times fa-2x" ng-click="vm.delete()"></i>
                    </span>
            </div>
        </div>
    </div>
    <div class="box-body slide-body">
        <div class="row">
            <div class="col-xs-11 text-center slide-wrapper">
                <div ng-bind-html="vm.post.embedHtml"></div>
                <!--<iframe src="{{vm.post.url}}" scrolling="no" frameborder="0" width="100%" height="500" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>-->
            </div>
            <div class="col-xs-11">
                <span ng-repeat="tag in vm.post.tags" class=" tag label-primary">{{tag}}</span>
            </div>
        </div>
    </div>
</div>
<hub-post-delete></hub-post-delete>
<toaster-container></toaster-container>