<div class="box box-default story-box">
    <div class="box-header story-header">
        <div class="row">
            <div class="col-xs-1 text-center icon story-icon"><i class="fa   fa-bar-chart fa-2x"></i></div>
            <div class="col-xs-8 title-text">
                <span>{{vm.post.title}}</span>
            </div>
            <div class="col-xs-3">
                    <span class="card-action pull-right">
                        <i class="fa fa-star-o fa-2x"></i>&nbsp;
                        <i class="fa fa-times fa-2x"></i>
                    </span>
            </div>
        </div>
    </div>
    <div class="box-body story-body">
        <div class="row">
            <div class="col-xs-11 text-center story-wrapper">
                <div class='verse-player-embed'><style>.verse-player-embed {position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .verse-player-embed iframe, .verse-player-embed object, .verse-player-embed embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><iframe src='https://verse.com/9c8de05799b1b1671c325b52372b39678837ea5a/299-water/' frameborder='0' allowfullscreen ></iframe></div>
            </div>
        </div>
    </div>
</div>